<%#= javascript_pack_tag 'hello_react' %>
<head>
  <meta charset="utf-8">
  <script src="https://js.braintreegateway.com/web/dropin/1.22.0/js/dropin.min.js"></script>
</head>
<body>
<div id="dropin-container"></div>
<button id="submit-button">Request payment method</button>
<script>
    var button = document.querySelector('#submit-button');

    braintree.dropin.create({
        authorization: "<%= @client_token %>",
        container: '#dropin-container'
    }, function (createErr, instance) {
        button.addEventListener('click', function () {
            instance.requestPaymentMethod(function (err, payload) {
                // Submit payload.nonce to your server
                $.ajax({
                    type: "POST",
                    url: '/chekout',
                    data: 'payment_method_nonce='+payload.nonce,
                    success: function(data){
                        console.log(data);
                    },
                    dataType: 'json'
                });
            });
        });
    });
</script>
</body>